body {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, footer {
    background-color: #c35;
    padding: 10px 20%;
    text-align: center;
}

.site-title {
    color: #ccc;
}

article {
    padding: 10px 20%;
}

blockquote {
    background-color: #ddd;
    border: thick ridge #222;
}

#my-image {
    box-shadow: 0px 0px 2px 1px #000;
}

li {
    list-style-type: square;
}

li:nth-child(odd) {
    background-color: #ddd;
}

dt {
    font-weight: bold;
    background-color: #ddd;
}

a {
    text-decoration: none;
    background-color: #6c3;
    border: thick solid #4a1;
    border-radius: 3px;
}

a:hover {
    background-color: #8e5;
    border-style: outset;
}

a:active {
    border-style: inset;
}